<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QJSlideView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D0BCF63C1C9141110044448C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0BCF6551C9141110044448C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0BCF6601C9141110044448C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
